//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Fri 10 11 10:06:20 2024

IO_LOC "ESP32_MISO" 71;
IO_PORT "ESP32_MISO" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "BussRequest" 86;
IO_PORT "BussRequest" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "BussRd" 19;
IO_PORT "BussRd" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "BussWR" 18;
IO_PORT "BussWR" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[7]" 48;
IO_PORT "Memory[7]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[6]" 51;
IO_PORT "Memory[6]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[5]" 54;
IO_PORT "Memory[5]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[4]" 56;
IO_PORT "Memory[4]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[3]" 41;
IO_PORT "Memory[3]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[2]" 42;
IO_PORT "Memory[2]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[1]" 80;
IO_PORT "Memory[1]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Memory[0]" 76;
IO_PORT "Memory[0]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[15]" 20;
IO_PORT "Address[15]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[14]" 17;
IO_PORT "Address[14]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[13]" 31;
IO_PORT "Address[13]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[12]" 30;
IO_PORT "Address[12]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[11]" 29;
IO_PORT "Address[11]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[10]" 26;
IO_PORT "Address[10]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[9]" 25;
IO_PORT "Address[9]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[8]" 28;
IO_PORT "Address[8]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[7]" 27;
IO_PORT "Address[7]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[6]" 16;
IO_PORT "Address[6]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[5]" 15;
IO_PORT "Address[5]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[4]" 77;
IO_PORT "Address[4]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[3]" 85;
IO_PORT "Address[3]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[2]" 75;
IO_PORT "Address[2]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[1]" 74;
IO_PORT "Address[1]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "Address[0]" 73;
IO_PORT "Address[0]" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "IOControl" 55;
IO_PORT "IOControl" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ESP32_SSEL" 72;
IO_PORT "ESP32_SSEL" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ESP32_SCK" 52;
IO_PORT "ESP32_SCK" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 10;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ESP32_MOSI" 53;
IO_PORT "ESP32_MOSI" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BussAvailable" 79;
IO_PORT "BussAvailable" PULL_MODE=NONE PCI_CLAMP=ON BANK_VCCIO=1.8;
IO_LOC "MEMControl" 49;
IO_PORT "MEMControl" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
